.container {
	background-color: #f3fcf7;
	min-height: 100vh;
}
.form-container {
	width: clamp(200px, 60%, 500px);
	margin: 0 auto;
	padding-top: 1rem;
}
.form-input {
	box-shadow: 0 0 5px 0.4px black;
	padding: 0.5rem;
	border-radius: 0.5rem;
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	min-height: 150px;
}
.form-input input {
	align-self: flex-start;
	width: 60%;
	font-size: 1.4rem;
	padding: 0.2rem;
}
.form-container h1 {
	text-align: center;
}
form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 1rem;
}
form .btn {
	align-self: flex-start;
	padding: 0.7rem 1.8rem;
	font-size: 1.2rem;
	background-color: rgb(10, 73, 210);
	color: white;
	text-transform: uppercase;
	border-radius: 0.3rem;
	outline: none;
	width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;

	border: none;
	gap: 0.5rem;
	cursor: pointer;
}
.btn:hover {
	background-color: rgb(3, 51, 153);
}

textarea {
	font-size: 1.4rem;
	padding: 0.5rem;
}

.loader {
	width: 20px;
	height: 20px;
	border: 5px solid #fff;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.submitted-message {
	font-size: 1.2rem;
	color: green;
	animation: success 0.3s both;
}

@keyframes identifier {
}